body {
    margin: 0;
}

header, main, footer {
    display: grid;
    grid-template-columns:
        calc(50vw - 36em) repeat(6, 1fr) calc(50vw - 36em);
	gap: 2em;
    ;
}

.main-column {
    grid-column: 2 / span 6;
}

header {
    background-color: black;
    color: white;
}

footer {
    background-color: gray;
    color: white;
}