@font-face {
    font-family: 'New Forest';
    src: url('NewForest-Regular.woff2') format('woff2'),
        url('NewForest-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'New Forest';
    src: url('NewForest-Italic.woff2') format('woff2'),
        url('NewForest-Italic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

:root {
    --lightblue: #c9e6e8;
    --darkgreen: #002d25;
    --cream: #fbf1df;
    --yellow: #f3d15e;
    --lightgreen: #d1e9d0;
    --red: #f15b47;
    --blue: #006cb0;
    --mediumgreen: #49b96d;
  }

body {
    background: var(--lightblue);
    color: var(--darkgreen);
    font-family: 'New Forest';
    font-weight: 500;
    font-style: normal;
    margin: 1em;
    padding: 1em;
    border-width: 1em;
    border-image: url(border-test-2.svg) 29% repeat;
}

header, main, footer {
    display: grid;
    grid-template-columns:
        calc(50vw - 36em) repeat(6, 1fr) calc(50vw - 36em);
	gap: 2em;
    ;
}

.main-column {
    grid-column: 2 / span 6;
}

header {
    text-align: center;
}

h1 {
    font-size: 5em;
}

p.intro {
    font-size: 1.8em;
    font-style: italic;
}

p.signature {
    font-size: 1.4em;
    font-style: italic;
}

p.signature span {
    font-style: normal;
    text-transform: uppercase;
}

footer {
    
}

@media screen and (min-width:40em) {
    
    body {
        font-size: 120%;
    }

}

@media screen and (min-width:60em) {
    
    body {
        font-size: 140%;
    }

}