@font-face {
    font-family: 'New Forest';
    src: url('NewForest-Regular.woff2') format('woff2'),
        url('NewForest-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'New Forest';
    src: url('NewForest-Italic.woff2') format('woff2'),
        url('NewForest-Italic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

:root {
    --lightblue: #c9e6e8;
    --darkgreen: #003824;
    --cream: #fbf9f2;
    --yellow: #f3d15e;
    --lightgreen: #d1e9d0;
    --red: #f15b47;
    --blue: #0080bd;
    --mediumgreen: #49b96d;
  }

body {
    background: var(--cream);
    color: var(--darkgreen);
    font-family: 'New Forest', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 0;
}

header, main, footer {
    display: grid;
    grid-template-columns:
        calc(50vw - 36rem) 
        repeat(6, 1fr) 
        calc(50vw - 36rem);
	column-gap: 2em;
    padding: 1em 0;
}

header {
    padding-top: 0;
}

img {
    width: 100%;
}

.main-column.title img{
    width: 30%;
    margin: 1em 0 0 0;
}


nav a {
    color: var(--cream);
    text-decoration: none;
    text-transform: uppercase;
    font-size: .7em;
    letter-spacing: .1em;
    padding: .4em 0;
}

nav {
    display: none;
    grid-column: 1 / span 8;
    background: var(--darkgreen);
    color: var(--cream);
    text-align: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: .4em 0;
    }

nav.show {
    display: flex;
    }

.toggle {
    grid-column: 1 / span 8;
    text-align: right;
}

.toggle button {
    border: none;
    margin: 0;
    background: none;
    color: var(--darkgreen);
    padding: .5em 1em .5em 1em;
    font-family: 'New Forest', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
}

nav #registry:hover {
    color: var(--mediumgreen);
}

nav #accommodations:hover {
    color: var(--blue);
}

a {
    color: var(--darkgreen);
    text-decoration: .05em underline wavy;
    text-underline-offset: 2px;
}

#accommodations a:hover {
    color: var(--blue);
    font-style: italic;
}

#directions a:hover {
    color: var(--red);
    font-style: italic;
}

#recommendations a:hover {
    color: var(--yellow);
    font-style: italic;
}

nav #directions:hover {
    color: var(--red);
}

nav #recommendations:hover {
    color: var(--yellow);
}

nav #other:hover {
    color: var(--lightblue);
}

.full-width {
    grid-column: 1 / span 8;
}

.main-column {
    grid-column: 2 / span 6;
}

.first-half {
    grid-column: 2 / span 3;
}

.second-half {
    grid-column: 5 / span 3;
}

.middle-third {
    grid-column: 4 / span 2;
}

header {
    text-align: center;
    margin: 0;
}

main {
    margin: 0em 1em;
    padding: 1em;
    text-align: center;
}

main #secondary {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

.main-column.title {
    margin: 1em 0 0 0;
}

#accommodations h1 {
    margin: 1em 18% 0 18%;
    border: 7px double var(--darkgreen);
    background-color: var(--blue);
    padding: 1em;
}

#accommodations .button {
    margin: .5em;
    border: 7px double var(--darkgreen);
    background-color: var(--blue);
    padding: .5em;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-family: 'New Forest', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#directions h1 {
    margin: 1em 18% 0 18%;
    border: 7px double var(--darkgreen);
    background-color: var(--red);
    padding: 1em;
}

#recommendations h1 {
    margin: 1em 18% 0 18%;
    border: 7px double var(--darkgreen);
    background-color: var(--yellow);
    padding: 1em;
}

p {
    font-size: .9em;
    font-family: "sorts mill goudy", serif;
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.6em;
    font-style: italic;
}
h3{
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-family: 'New Forest', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: bold;
    margin: 2em 0 0 0;
}

h4{
    font-size: .7em;
    font-family: "sorts mill goudy", serif;
}

li{
    font-size: .7em;
    font-family: "sorts mill goudy", serif;
    list-style-type: none;
    line-height: 1.8em;
}

ul{
    padding: 0;
}

footer {
    text-align: center;
}

footer img {
    max-width: 5em;
}

@media screen and (min-width:40em) {
    
    body {
        font-size: 120%;
    }

    .toggle {
        display: none;
    }

    nav, nav.show {
        display: flex;
        flex-direction: row;
    }

}

@media screen and (min-width:60em) {
    
    body {
        font-size: 140%;
    }

    #accommodations h1, #directions h1, #recommendations h1 {
        margin: 1em 33% 0 33%;
    }

    .main-column.title img{
        width: 20%;
    }

}
